/* Base */
body {
    background-color: #f5f5f5;
    background-image: url("picture1.png");
    background-size: cover;
    background-position: center;
    position: relative;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
body::before {
    content: "";
    position: fixed; top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: -1;
}
html { scroll-behavior: smooth; }

/* Header */
header {
    background-color: #665E5D;
    color: white;
    padding: 20px;
    text-align: center;
}
.h-font {
    font-family: 'Edu QLD Beginner', cursive;
    font-weight: 600;
}

/* Navigation */
nav {
    background-color: #493f3e;
    padding: 10px;
    text-align: center;
}
nav ul { list-style: none; padding: 0; }
nav li { display: inline; margin: 0 15px; }
nav a {
    color: white;
    text-decoration: none;
    transition: transform 0.2s ease;
}
.nav-link:hover {
    transform: scale(1.1);
    color: #c91007;
}

/* Sections common */
section { padding: 20px; margin: 40px auto; width: 80%; max-width: 800px; }
section h2 { margin-bottom: 15px; }

/* About */
.about-box {
    background-color: #D8C8AD;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
}

/* Skills */
.skills-box {
    background-color: #ABAA99;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.skills-table {
    width: 100%;
    border-collapse: collapse;
}
.skills-table th, .skills-table td {
    border: 1px solid #ccc;
    padding: 12px;
    vertical-align: top;
}
.skills-table th {
    background-color: #ddd;
    text-align: left;
}
.skills-table ul {
    list-style: square;
    margin: 0;
    padding-left: 20px;
}

/* Certificates */
.education-box {
    background-color: #AF766F;
    color: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.cert-list {
    list-style: none;
    margin: 0;
    padding-left: 0;
}
.cert-list li {
    margin-bottom: 8px;
}

/* Projects */
.projects-box {
    background-color: #75828B;
    color: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.projects-box ul {
    list-style: none;
    padding-left: 20px;
}
.projects-box li {
    margin-bottom: 8px;
}

/* Footer */
footer {
    text-align: center;
    padding: 15px;
    background-color: #665E5D;
    color: white;
}
.prfile-picture {
    width: 129px;        /* حجم العرض */
    height: 120px;       /* حجم الارتفاع */
    border-radius: 50%; /* لجعلها دائرية */
    border: 3px solid #443730; /* لون وحجم الإطار */
}